
<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = '归档' + ' — ';
if (is_tag()) pageTitle = '标签 — ' + page.tag + ' — ';
if (is_category()) pageTitle = '分类 — ' + page.category + ' — ';
if (is_month()) pageTitle += page.month + '月' + ' — ';
if (is_year()) pageTitle += page.year + ' — ';
if (page.title) pageTitle += ' — ';
pageTitle += config.title;
%>

<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="height=device-height,initial-scale=1" />
  <link rel="icon" href="/assets/favicon.svg" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="alternate" href="/atom.xml" title="NOTHIN’ HERE" type="application/atom+xml">
  <title><%=pageTitle%></title>
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from _config.yml -->
    <% theme.stylesheets.forEach(url => { %>
      <link rel="stylesheet" href="<%=url%>">
    <% }); %>
  <% } %>
</head>

<body>

<div class="header-outer">
  <div class="header-inner">
    <div>
      <a href="/" class="logo">
        <picture>
          <% if (page.title === undefined) { %>
            <source media="(prefers-color-scheme: dark)" srcset="/assets/logo_large_dark.svg" />
            <img src="/assets/logo_large_light.svg" alt="NOTHIN' HERE" />
          <% } else { %>
            <source media="(prefers-color-scheme: dark)" srcset="/assets/logo_small_dark.svg" />
            <img src="/assets/logo_small_light.svg" alt="NOTHIN' HERE" />
          <% } %>
        </picture>
      </a>
      <% if (page.title != undefined) { %>
        <div style="padding-left:10px">
          <div style="height:64px"></div>
          <div>
            <time datetime="<%= page.date.toJSON() %>" class="post-date" data-date="<%= page.date %>"></time>
          </div>
          <div style="height:4px"></div>
          <h1><%=page.title%></h1>
          <div style="height:4px"></div>
          <% if (page.categories != undefined) { %>
            <% page.categories.each((category, index) => { %>
              <a class="post-tag" href="<%=url_for(category.path)%>">
                <%= category.name %>
              </a>
              <% if (index < page.categories.length - 1) { %>
                <span class="post-tag-separator"> · </span>
              <% } %>
            <% }); %>
          <% } %>
        </div>
      <% } %>
    </div>
    <div>
      <% let buttons; %>
      <% if (page.title === undefined) { %>
        <% buttons = [
          { icon: '&#xE8B6;', tooltip: '搜索', link: '/search' },
          { icon: '&#xF399;', tooltip: '归档', link: '/archives' },
          { icon: '&#xE0E5;', tooltip: 'RSS', link: '/atom.xml' },
          { icon: '&#xE88E;', tooltip: '关于', link: '/about' }
        ]; %>
      <% } else { %>
        <% buttons = [
          { icon: '&#xE8B6;', tooltip: '搜索', link: '/search' },
          { icon: '&#xF399;', tooltip: '归档', link: '/archives' },
          { icon: '&#xE5C4;', tooltip: '返回', link: 'javascript:history.go(-1);' },
        ]; %>
      <% } %>
      <% buttons.forEach(button => { %>
        <a href="<%= button.link %>" class="icon-button" title="<%= button.tooltip %>">
          <span class="material-symbols-outlined">
            <%- button.icon %>
          </span>
        </a>
      <% }); %>
    </div>
  </div>
</div>

<div class="content">

  <% if (page.title === undefined) { %>
    <div class="spacer"></div>
  <% } else { %>
    <div style="width:280px"></div>
  <% } %>


  <%- body %>

  
</div>

<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <!-- scripts list from theme config.yml -->
  <% theme.scripts.forEach(url => { %>
    <script src="<%=url%>"></script>
  <% }); %>
<% } %>

</body>
</html>
