
<article class="post">
  <div class="post-content">
    <div>
      <div class="first-space"></div>
      <%-page.content.replace(/<\/p>/g, function(match, offset, string) {
        if (string.lastIndexOf('</p>') === offset) {
          return '<span style="color:#FF7300;user-select:none"> ●</span></p>';
        }
        return match;
      })%>
    </div>
  </div>
  <div class="page-foot">
    <% page.tags.each(tag => { %>
      <a class="post-tag" href="<%=url_for(tag.path)%>">
        #<%= tag.name %><br>
      </a>
    <% }); %>
    <span>文 / <%=config.author%></span>
  </div>
</article>

<div id="paginator">
  <%-paginator()%>
</div>
