
<article class="post">
  <div class="post-content">
    <div>
      <div class="first-space"></div>
      <%- (() => {
        let content = page.content;
        if ((!content.endsWith('</p>\n')) || content.endsWith('\"></p>\n')) {
          content += '<p style="text-align:right;user-select:none"></p>';
        }
        content = content.replace(/<\/p>/g, function(match, offset, string) {
          if (string.lastIndexOf('</p>') === offset) {
            return '<span style="color:#FF7300;user-select:none"> ●</span></p>';
          }
          return match;
        });
        return content;
      })() %>
    </div>
  </div>
  <div class="page-foot">
    <% page.tags.each(tag => { %>
      <a class="post-tag" href="<%=url_for(tag.path)%>">
        #<%= tag.name %><br>
      </a>
    <% }); %>
    <span>文 / <%=config.author%></span>
  </div>
</article>

<div id="paginator">
  <%-paginator()%>
</div>
